* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:focus {
  outline: none;
  border: 1px solid #005bd3;
}
/* ROOT VARIABLESX */
:root {
  /* colors */
  --grey: #1a1a1a;
  --grey-50: #656266;
  --grey-100: #b5b5b5;
  --grey-200: #303030;
  --grey-300: #1a1a1a;
  --font-light: #e3e3e3;
  --font-mid: var(--grey-100);
  --font-dark: #303030;
  --border-50: #dbdbdb;
  --border-100: #e1e1e1;
  --border-200: #616161;
  --hover-state: #f1f1f1;
  --pressed-state: #f0f0f0;
  --focused-state: #005bd3;
  --pressed-bg: #656266;
  --color-white: #fff;
  --background: #f1f1f1;
  --box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
  --drop-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
  --transition-3: all 0.3s ease; /* Define the transition properties */
}

body {
  background: var(--background);
  font-family: "Inter", sans-serif;
  max-width: 1280px;
}
a {
  text-decoration: none;
  color: inherit;
}
main {
  position: relative;
  padding-bottom: 20px;
}
/* active css codes */
.pressed {
  background: var(--pressed-bg);
}
.toaster-user:focus {
  border: 1px solid transparent !important;
}
.hovered {
  background-color: var(--border-200);
}
.focused {
  background-color: var(--pressed-bg) !important;
  box-shadow: 0px 0px 0px 3px var(--focused-state), 0px 0px 0px 1px #000;
}
.headerFocus {
  box-shadow: 0px 0px 0px 2px var(--focused-state), 0px 0px 0px 1px #000 !important;
}
.show {
  display: flex !important;
}
.hide {
  display: none !important;
}
.icon {
  background-color: transparent;
  display: inline-flex;
  padding: 4px;
  border-radius: 6px;
  cursor: pointer;
}
.icon:hover {
  background: var(--hover-state);
}
.icon:focus {
  border: 2px solid var(--focused-state);
  background-color: transparent;
}
.icon:active {
  background-color: var(--pressed-state);
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.label-btn {
  display: inline-flex;
  padding: 6px 12px;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--color-white);
  box-shadow: 0px -1px 0px 0px var(--grey-100);
  cursor: pointer;
}
.label-btn:hover {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #f7f7f7;
  box-shadow: 0px -1px 0px 0px #b5b5b5 inset;
}
.label-btn:focus {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--color-white);
  box-shadow: 0px 0px 0px 3px #005bd3, 0px 0px 0px 1px #fff,
    0px -1px 0px 0px #b5b5b5 inset;
}
.label-btn:active {
  background: #f7f7f7;
  box-shadow: 0px 2px 1.5px 0px #e2e2e2 inset;
}
.label-btn__dark {
  display: flex;
  cursor: pointer;
  padding: 6px 12px;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  border-top: 1.5px solid rgba(255, 255, 255, 0.2);
  border-right: 1.5px solid rgba(255, 255, 255, 0.2);
  border-left: 1.5px solid rgba(255, 255, 255, 0.2);
  background: #404040;
  box-shadow: 0px 0px 0px 1.5px #333, 0px 1px 0px 1.5px #333,
    0px 2px 0px 0px #000;
  transition: var(--transition-3);
}
.label-btn__dark:hover {
  background: #2a2a2a;
}
.label-btn__dark:focus {
  box-shadow: 0px 0px 0px 5px var(--focused-state), 0px 0px 0px 3px #fff,
    0px 0px 0px 1.5px #333;
}
.label-btn__dark:active {
  background: #2b2b2b;
  box-shadow: 0px 0px 0px 1.5px #333, 0px 3px 0px 0px #000 inset;
}
.label-btn__light {
  display: flex;
  padding: 6px 12px;
  border-radius: 6px;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  border: none;
  outline: none;
}

.label-btn__light:hover {
  background-color: #e7e7e7;
}
.label-btn__light:focus {
  background-color: var(--color-white);
  border: 2px solid var(--focused-state);
}
.label-btn__light:active {
  background-color: #e0e0e0;
}
.font_small--400 {
  color: var(--font-light);

  /* Text-12/Semi bold */
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 15.6px */
}
.font_small--500 {
  color: var(--font-light);

  /* Text-12/medium */
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 15.6px */
}

.font_small--600 {
  color: var(--font-dark);
  /* Text-12/Semi bold */
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 15.6px */
}
.font_medium--400 {
  color: var(--font-dark);

  /* Text-13/regular */
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 18.2px */
}
.font_medium--500 {
  color: var(--border-200);

  /* Text-13/medium */
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 18.2px */
}
.font_medium--600 {
  color: var(--font-dark);
  /* Text-13/semi bold */
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 18.2px */
  cursor: pointer;
}

.font_large--500 {
  /* color: var(--states-focused, #005BD3); */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
.font_large--600 {
  color: var(--font-dark);

  /* Text-14/semi bold */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 19.6px */
}

/* end of active css codes */

/* alerts, notification and toaster styling */
/* USER TOASTER STYLES */
.toaster {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 16px;
  margin-top: 4px;
  padding: 6px 0px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  justify-content: flex-start;
}
.toaster-user {
  display: none;
  width: 320px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  border-radius: 14px;
  border: 1px solid var(--border-50);
  background: var(--color-white);
  /* Drop Shadow */
  box-shadow: var(--drop-shadow);
}
.toaster-user__header {
  padding: 6px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  border-bottom: 0.75px solid var(--border-100);
}
.user__name {
  display: flex;
  align-items: center;
  padding: 4px 12px 4px 8px;
  gap: 8px;
  border-radius: 8px;
  background: var(--hover-state);
  width: 100%;
}
.user__check {
  margin-left: auto;
}
.stores {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px;
  cursor: pointer;
  transition: var(--transition-3);
  border-radius: 6px;
}

.stores:hover {
  background-color: var(--hover-state);
}
.stores:focus {
  background-color: transparent;
  border: 2px solid var(--focused-state);
}
.stores:active {
  background-color: var(--pressed-state);
}
.toaster-user__settings {
  border-bottom: 0.75px solid var(--border-100);
  padding: 6px;
  width: 100%;
}
.settings_link {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-decoration: none;
  gap: 4px;
  width: 100%;
}
.link__link {
  padding: 6px;
  border-radius: 6px;
}
.link__link:hover {
  background-color: var(--hover-state);
}
.link__link:focus {
  background-color: transparent;
  border: 2px solid var(--focused-state);
}
.link__link:active {
  background-color: var(--pressed-state);
}
.toaster-user__user--account {
  padding: 6px;
  width: 100%;
}
.user_account--name {
  padding: 6px;
}
.user_account--name span {
  color: #616161 !important;
}
.user_account--name h4 {
  color: var(--font-dark);
}
/* END OF USER TOASTER STYLES */

/* START OF NOTIFICATION TOASTER*/
.alert-toaster {
  display: none;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-radius: 14px;
  border: 1px solid var(--border-50);
  background: var(--color-white);

  /* Drop Shadow */
  box-shadow: var(--drop-shadow);
}
.alert-toaster__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.alert-toaster__body {
  padding: 16px;
  display: flex;
  align-items: center;
  background-color: var(--hover-state);
}
.alert-toaster__body p {
  color: var(--border-200);
}
.alert--icons {
  display: flex;
  align-items: center;
  gap: 16px;
}
/* NOTIFICATION toaster end */

/* START OF ALERT TOASTER */
.alert {
  background-color: var(--grey-300);
  border-radius: 8px;
  padding: 12px 8px 12px 16px;
  width: 800px;
  display: flex;
}
.alert-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
}

.alert-title {
  color: var(--font-light);
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
.alert-action {
  gap: 6px;
  margin-left: 10px;
}
.alert-action__close {
  display: flex;
  padding: 6px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 6px;
  cursor: pointer;
  transition: var(--transition-3);
}
.alert-action__close:focus {
  border: 2px solid var(--focused-state);
  background-color: transparent;
}
/* ALERT TOASTER ENDS */
/* --HEADER STYLING-- */
header {
  background-color: var(--grey);
  padding: 12px 16px;
}

.logo {
  width: 104.868px;
  height: 30px;
}
.mobile_logo {
  display: none;
}

.input-container {
  position: relative;
  display: flex;
  width: 480px;
  margin-left: 10px;
  height: 32px;
  border-radius: 8px;

  /* border: 1px solid var(--border-200); */
}
.input-container input:hover {
  border: 1px solid var(--border-100);
}
.input-container input:active {
  border: 2px solid var(--color-white);
}
.input-container input:focus {
  border: 2px solid var(--color-white);
}
.searchIcon {
  position: absolute;
  left: 0;
  top: 50%;
  /* margin-top: 20px; */
  transform: translateY(-50%);
  pointer-events: none;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  margin-left: 8px;
}
.input-container__input {
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--border-200);
  background-color: var(--grey-200);
  width: 100%;
  height: 100%;
  outline: none;
  padding: 8px 8px 8px 28px;
  color: var(--grey-100);
}
.input-container__input::placeholder {
  color: var(--grey-100);
  /* Text-13/medium */
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 18.2px */
}
/* SEARCHBOX STATES */

.user-section {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
}
.user-section__notification {
  cursor: pointer;
  width: 32px;
  height: 32px;
  padding: 8px;
  gap: 8px;
  border-radius: 8px;
  background-color: var(--grey-200);
  transition: var(--transition-3);
}
.user-section__notification:hover {
  background-color: var(--border-200);
}
.user-section__notification:active {
  background: var(--pressed-bg);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.user-section__notification:focus {
  background-color: var(--pressed-bg);
  box-shadow: 0px 0px 0px 3px var(--focused-state), 0px 0px 0px 1px #000;
}
.user-section__name {
  cursor: pointer;
  display: flex;
  padding: 2px 2px 2px 8px;
  height: 32px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: var(--grey-200);
  color: var(--font-light);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 15.6px */
  transition: var(--transition-3);
}
.user-section__name:hover {
  background-color: var(--border-200);
}
.user-section__name:focus {
  background-color: var(--pressed-bg);
  box-shadow: 0px 0px 0px 3px var(--focused-state), 0px 0px 0px 1px #000;
}
.user-section__name:active {
  background: var(--pressed-bg);
}
.user-section__name--dc {
  background-color: #36fba1;
  height: 28px;
  padding: 9px 5px 10px 5px;
  border-radius: 6px;
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
  /* Text-12/medium */
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 15.6px */
}
/* END OF HEADER STYLES */

/* --MAIN STYLING-- */
main {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.button_container {
  display: flex;
  align-items: center;
  gap: 16px;
}
/* ONBOARIDNG PROCESS SETUP-CARD */
.setup-card {
  display: flex;
  width: 800px;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-radius: 18px;
  border: 1px solid var(--border-50);
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
}
/* SETUP CARD HEADER */
.setup-card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.setup-card__header-title {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.setup-card__header-toggle {
  display: flex;
  padding: 4px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
}
.header-toggle__hide {
  display: none;
}
/* END OF SETUP CARD HEADER */

/* SETUP CARD BODY */

.setup-body {
  width: 100%;
  display: none;
}
/* .setup-body:focus {
  border: 1px solid red;
}
.customize:focus {
  border: 1px solid red;
}
.loader:focus {
  border: 1px solid red;
  border-radius: 50%;
} */
.setup_body-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 12px;
}
.customize {
  width: 100%;
  display: flex;
  padding: 8px 8px 12px 8px;
  align-items: center;
  justify-content: space-between;
  gap: 96px;
  align-self: stretch;
  border-radius: 10px;
}
.active-customize {
  background: #f3f3f3;
}
.customize_left {
  display: flex;
  align-items: flex-start;
  width: 100%;
  gap: 8px;
}
.setup_show {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding-top: 2px;
}
.setup_hidden {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: none;
}
/* loaders */
.loader {
  position: relative;
  width: 26px;
  cursor: pointer;
  /* height: 26px; */
  border-radius: 50%;
}
.loader:focus {
  outline: none;
  border: none;
}
.loader:focus .custom-svg circle {
  stroke: var(
    --focused-state
  ); /* Change the stroke color to blue when the div is focused */
}
.loader_checked,
.loader_loading,
.loader_hover,
.loader_hover--filled,
.blur_check {
  display: none;
}
.loader_checked,
.loader_loading,
.loader_empty,
.blur_check,
.loader_hover,
.loader_hover--filled,
.blur_check {
  position: absolute;
  top: 0;
  left: 0;
}

.loader_checked--container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blur_check {
  top: 0;
  left: 0;
  position: absolute;
  transform-origin: center;
  transition: transform 0.5s ease-in-out;
}
.loader_checked {
  transform-origin: center;
  transition: transform 0.5s ease-in-out;
}
.rotate-blur-check {
  transition: transform 0.3s ease-in-out; /* Adding a transition for smoother rotation */
}
.rotate-dark-check {
  display: block;
  transform: rotate(360deg);
  transition: transform 0.5s ease-in-out; /* Adding a transition for smoother rotation */
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loader_loading svg {
  stroke: #1c181d;
  animation: rotate 1s infinite linear; /* Adjust duration and timing function as needed */
}
.customize_left--title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.learn {
  color: var(--focused-state);
}
.customize_right {
  width: 156.145px;
  height: 120px;
  flex-shrink: 0;
  /* background: url("https://crushingit.tech/hackathon-assets/customise-store.png"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* END OF SETUP CARD BODY */

/* SETUP CARD FOOTER */
/* .setup-card__setup-footer{

  } */
.footer-range {
  display: flex;
  align-items: center;
  gap: 8px;
}
.range {
  color: var(--font-dark);

  /* Text-12/regular */
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 15.6px */
}
.range-value {
  width: 72px;
  height: 4px;
  background-color: var(--font-light);
  position: relative;
}
.progress {
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--grey-300);
  transition: 0.2s ease-in-out;
}

/* END OF SETUP CARD FOOTER */

/* START OF RESPONSIVE CLASSES */
@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 860px) {
  .mobile_logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .desktop_logo {
    display: none;
  }
  .user-section {
    gap: 12px;
  }
  .user-section__notification {
    background-color: transparent;
  }
  .user-section__name {
    background-color: transparent;
    padding: 2px;
  }
  .user-section__name h6 {
    display: none;
  }
  .alert,
  .setup-container {
    width: 100%;
  }
  .setup-card {
    width: 100%;
  }
  .alert,
  .setup-card {
    border-radius: 0;
  }
}

@media screen and (max-width: 750px) {
}

@media screen and (max-width: 550px) {
  .input-container {
    width: 238px;
    margin-left: 20px;
  }
  .alert-body {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
  .alert-action {
    align-items: flex-start;
    height: fit-content;
  }
  .setup_hidden {
    flex-direction: column;
    align-items: flex-start;
  }
  .customize_right {
    display: none;
  }
}
@media screen and (max-width: 390px) {
  .input-container {
    width: 100%;
    margin-left: 8px;
  }
  .toaster-user {
    width: 250px;
  }
  .alert-toaster {
    width: 290px;
  }
}
@media screen and (max-width: 300px) {
  .input-container {
    display: none;
  }
  .toaster-user {
    width: 240px;
  }
  .alert-toaster {
    width: 98%;
  }
  .button_container {
    width: 100%;
    /* flex-direction: column; */
    /* background-color: red; */
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
  }
  .button_container button {
    font-size: 10px !important;
  }
}
